<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Login Page Test">
        <classes>
            <class name="runner.TestRunner">

            </class>
        </classes>
    </test>
    <test verbose="2" parallel="classes" thread-count="5" preserve-order="true" name="/Users/adesinataiwo/Downloads/jdk-11.0.16.1/man/Pana_BankProjerct/src/test">

        <classes/>
    </test>
</suite>